<h1>Tela de cadastro</h1>

<form action="/cadastro" method="post">
 <div class="container">

<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Nome</label>
  <input type="text" name="nome" class="form-control" id="nome" placeholder="Nome"/>
</div>

<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">data de nascimento</label>
  <input type="date" name="nascimento" class="form-control" id="nome" placeholder="Nome"/>
</div>

<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Telefone</label>
  <input type="text" name="telefone" class="form-control" id="nome" placeholder="Nome"/>
</div>

<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Cep</label>
  <input type="text" name="cep" class="form-control" id="nome" placeholder="Nome"/>
</div>


    <button class="btn btn-primary" type="submit">Salvar contatos</button>
</div>
</form>