<h3>Login</h3>
<form action="/login" method="post">
        <label for="nomeLogin">Nome</label>
        <input type="text" name="nomeLogin" placeholder="nomes" id="nomeLogin">
        <input type="password" name="senha" placeholder="senha" id="pass">
        <input type="submit" value="Entrar">
    </form>